html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-width: 393px;
  scroll-behavior: smooth;
  overflow-x: auto;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.navbar {
  z-index: 1000;
  position: fixed;
  padding: 1.5%;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #71c9ce;
  gap: 43px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding-right: 3%;
}

.navbar p {
  display: inline-block;
}

.navbar p:hover {
  background-color: #ff9149;
  color: white;
  border-radius: 8px;
  padding: 2px 8px;
  transition: all 0.3s ease;
  display: inline-block;
}

.navbar a,
.icons a {
  text-decoration: none;
  color: inherit;
}

.home {
  background-color: #cbf1f5;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  padding: 5%;
}

.home p {
  color: #2d2d2d;
}

.intro p {
  font-size: 20px;
}

.greetings {
  padding-top: 2%;
  grid-area: 1/1/2/2;
}

.greetings > p,
.name > p {
  font-size: 50px;
  font-weight: bolder;
}

.name {
  grid-area: 2/1/3/2;
}

.job {
  grid-area: 3/1/4/2;
}

.job > p {
  font-size: 35px;
  font-weight: lighter;
}

.intro {
  grid-area: 4/1/-1/2;
}

.profile-pic {
  grid-area: 1/2/-1/-1;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic > img {
  width: 90%;
  border-radius: 10px;
  border: 4px solid black;
}

.profile-pic:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

.Projects {
  display: flex;
  flex-direction: row;
  gap: 10%;
  background-color: #cbf1f5;
  justify-content: center;
  padding: 5%;
}
.project {
  background-color: #ffecdb;
  border-radius: 5%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.project-info {
  text-align: center;
}

.About-Me,
.resume-title,
.contact-title,
.project-title {
  display: flex;
  width: 100vw;
  background-color: #71c9ce;
  padding: 0.1%;
  font-size: 40px;
  padding-left: 5%;
}

.p1 img {
  width: 200px;
  height: 300px;
}
.p2 img {
  width: 300px;
  height: auto;
}
.p3 img {
  width: 300px;
  height: 300px;
}
.p1 {
  grid-area: 1/2/-1/3;
}
.p2 {
  grid-area: 1/3/-1/4;
}
.p3 {
  grid-area: 1/4/-1/5;
}
.project-title p {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cbf1f5;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  background-color: #ffecdb;
  border: 5px solid #ff9149;
  border-radius: 2%;
  font-size: 20px;
  text-align: center;
  padding: 3%;
}

.a3 {
  margin-bottom: 5%;
}

.Resume {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #cbf1f5;
  gap: 40px;
  padding: 5%;
}

.Education,
.Technical-Skills {
  background-color: #ffecdb;
  border-radius: 10px;
  border: 5px solid #ff9149;
  padding: 5%;
}

.Education {
  grid-area: 1/1/2/3;
}
.Technical-Skills {
  grid-area: 2/1/-1/3;
}
.nitw-image {
  grid-area: 1/3/-1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nitw-image img {
  width: 550px;
  height: auto;
  border-radius: 30px;
  border: 5px solid #ff9149;
}


.icons img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}
.Contact {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  background-color: #cbf1f5;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.linkedin,
.github,
.instagram {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icons img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.project-pic {
  border-radius: 5%;
}

@media (max-width: 1050px) {
  .nitw-image img{
    width: 450px;
    height: auto;
  }
  .nitw-image{
    grid-area: 1/3/2/-1;
  }
  .Technical-Skills{
    grid-area: 2/2/-1/4;
  }
  .project-pic {
    border-radius: 5%;
  }
  .Projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 10%;
  }
  .p1 {
    grid-area: 1/1/2/2;
  }
  .p2 {
    grid-area: 1/2/2/-1;
  }
  .p3 {
    grid-area: 2/1/-1/2;
  }
}

@media (max-width:1000px){
  .nitw-image img{
    width: 100%;
  }
}

@media (max-width: 854px) {
  .Resume{
    display: flex;
    flex-direction: column;
  }
  .project-pic {
    border-radius: 5%;
  }
  .navbar {
    gap: 20px;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 5fr;
  }

  .greetings {
    padding-top: 2%;
    grid-area: 1/1/2/-1;
  }

  .name {
    grid-area: 2/1/3/-1;
  }

  .job {
    grid-area: 3/1/4/-1;
  }

  .intro {
    grid-area: 4/1/-1/2;
  }

  .profile-pic {
    grid-area: 4/2/-1/-1;
    display: flex;
  }

  .profile-pic > img {
    width: 90%;
    border-radius: 10px;
    border: 4px solid black;
    align-self: flex-start;
  }

  .Projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;
    gap: 3%;
  }
  .project {
    padding: 0%;
    margin: 0%;
  }
  .p1 {
    grid-area: 1/1/2/-1;
  }
  .p2 {
    grid-area: 2/1/3/-1;
  }
  .p3 {
    grid-area: 3/1/-1/-1;
  }
}

@media (max-width: 700px) {
  .Resume{
    display: flex;
    flex-direction: column;
  }
  .project-pic {
    border-radius: 5%;
  }
  .Projects {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 600px) {
  .Resume{
    display: flex;
    flex-direction: column;
  }
  .project-pic {
    border-radius: 5%;
  }
  .Projects {
    padding-left: 16%;
    padding-right: 16%;
  }
}

@media (max-width: 519px) {
  .Resume{
    display: flex;
    flex-direction: column;
  }
  .project-pic {
    border-radius: 5%;
  }
  html,
  body {
    font-family: "Open Sans", sans-serif;
  }
  .navbar {
    position: fixed;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 7vh;
  }

  .home {
    display: flex;
    flex-direction: column;
  }

  .greetings {
    margin-top: 50px;
  }

  .intro {
    padding-top: 8%;
  }

  .profile-pic {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 0;
    padding-top: 8%;
  }

  .profile-pic > img {
    width: 90%;
    border-radius: 10px;
    border: 4px solid black;
    align-self: flex-start;
  }

  .intro p,
  .about p {
    font-size: 15px;
  }

  .greetings > p,
  .name > p {
    font-size: 35px;
    font-weight: bolder;
  }

  .job > p {
    padding-top: 1%;
    font-size: 25px;
    font-weight: lighter;
  }

  .Projects {
    padding-left: 14%;
    padding-right: 14%;
  }

  .p3 {
    margin-bottom: 15%;
  }
}
