html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-width: 420px;
  scroll-behavior: smooth;
  overflow-x: auto; 
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.navbar {
  z-index: 1000;
  position: fixed;
  padding: 1.5%;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #71c9ce;
  gap: 43px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding-right: 3%;
}

.navbar p {
  display: inline-block;
}

.navbar p:hover {
    background-color: #ff9149;
    color: white;
    border-radius: 8px;
    padding: 2px 8px; 
    transition: all 0.3s ease;
    display: inline-block; 
}

.navbar a , .icons a{
  text-decoration: none;
  color: inherit;
}

.home {
  background-color: #cbf1f5;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  padding: 5%;
}

.home p {
  color: #2d2d2d;
}

.intro p {
  font-size: 20px;
}

.greetings {
  padding-top: 2%;
  grid-area: 1/1/2/2;
}

.greetings > p , .name > p {
  font-size: 50px;
  font-weight: bolder;
}

.name {
  grid-area: 2/1/3/2;
}

.job {
  grid-area: 3/1/4/2;
}

.job > p {
  font-size: 35px;
  font-weight: lighter;
}

.intro {
  grid-area: 4/1/-1/2;
}

.profile-pic {
  grid-area: 1/2/-1/-1;
  padding : 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic > img {
  width: 90%;
  border-radius: 10px;
  border: 4px solid black;
}

.profile-pic:hover{
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

.Projects {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 40px;
  grid-template-rows: 400px;
  gap: 15px;
  background-color: #cbf1f5;
  padding-top: 40px;
  padding-bottom: 85px;
}
.project {
  background-color: #FFECDB;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-info {
  text-align: center;
}
.project-title,
.About-Me , .resume-title , .contact-title{
  margin: 0;
  padding-left: 60px;
  font-size: 40px;
  background-color: #71c9ce;
}
.About-Me , .resume-title, .contact-title{
    padding-top: 15px;
    padding-bottom: 15px;
}
.p1 img {
  width: 200px;
  height: 300px;
}
.p2 img {
  width: 300px;
  height: auto;
}
.p3 img {
  width: 300px;
  height: 300px;
}
.p1 {
  grid-area: 1/2/-1/3;
}
.p2 {
  grid-area: 1/3/-1/4;
}
.p3 {
  grid-area: 1/4/-1/5;
}
.project-title p {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cbf1f5;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: 30vh;
  background-color: #ffecdb;
  margin-left: 60px;
  margin-right: 60px;
  border: 5px solid #ff9149;
  border-radius: 10px;
  font-size: 20px;
}
.a3 {
  margin-bottom: 60px;
}
.Resume{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
    background-color:#cbf1f5;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Education,.Technical-Skills{
    background-color: #ffecdb;
    border-radius: 10px;
    padding-left: 10px;
    border: 5px solid #ff9149;
}
.Education{
    grid-area: 1/1/2/2;
}
.Technical-Skills{
    grid-area: 2/1/-1/2;
}
.nitw-image{
    grid-area: 1/2/-1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nitw-image img{
    border-radius: 30px;
    border: 5px solid #ff9149;
}
.icons img{
    height: 40px;
    width: 40px;
    border-radius: 15px;
}
.Contact{
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    background-color: #cbf1f5;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.linkedin,.github,.instagram{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icons img{
    border: 3px solid #ff9149;
}


@media (max-width:854px){
  .navbar{
    gap: 20px;
  }

  .home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 5fr;
  }

  .greetings {
    padding-top: 2%;
    grid-area: 1/1/2/-1;
  }

  .name {
    grid-area: 2/1/3/-1;
  }

  .job {
    grid-area: 3/1/4/-1;
  }

  .intro {  
    grid-area: 4/1/-1/2;
  }

  .profile-pic {
    grid-area: 4/2/-1/-1;
    display: flex;
  }

  .profile-pic > img {
    width: 90%;
    border-radius: 10px;
    border: 4px solid black;
    align-self: flex-start;
  }

}

@media (max-width:519px){
  html,body{
    font-family: 'Open Sans', sans-serif;
  }
  .navbar{
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 60px;
  }

  .home{
    display: flex;
    flex-direction: column;
  }

  .greetings , .intro{
    padding-top: 8%;
  }

  .profile-pic {
    display: flex;
  }

  .profile-pic > img {
    width: 90%;
    border-radius: 10px;
    border: 4px solid black;
    align-self: flex-start;
  }

  .intro p {
    font-size: 15px;
  }

  .greetings > p , .name > p {
    font-size: 35px;
    font-weight: bolder;
  }

  .job > p {
    padding-top: 1%;
    font-size: 25px;
    font-weight: lighter;
  }

}


